<div class="container">
  <div class="products pt-4 mb-5">
    <div class="title-products fs-1 fw-bold text-center mb-5" *ngIf="products.length">
      {{searchPhrase ? "Результаты поиска по запросу \"" + searchPhrase + "\"" : "Наши чайные коллекции"}}
    </div>
    <h2 class="text-center mb-5 fw-bold" *ngIf="!products.length">Ничего не найдено</h2>
    <div class="row mb-4">
      <product-card *ngFor="let product of products" [product]="product" class="col-md-4 mb-4"></product-card>
    </div>
    <div *ngIf="loading" class="loader-bg">
      <div class="loader"></div>
    </div>
  </div>
</div>
