.white-popup {
  display: none;
  //position: relative;
  //background: #FFF;
  //padding: 20px;
  //width: auto;
  //max-width: 510px;
  //margin: 20px auto;
}
.white-popup.open {
  display: block;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}

#error-button {
  display: none;
  margin-left: 20px;
  color: red;
}

#error-button.open {
  display: inline-block;
}

.container {
  height: 100vh;
}
